<header>
  <nav class="navbar">
    <a class="navbar-brand" href="#">
      <img src="/assets/R.png" alt="Votre logo">
    </a>
    <div class="navbar-links">
      <a href="/" class="text-sm font-semibold leading-6 text-gray-900">Accueil</a>
      <a [routerLink]="['/clientes']" routerLinkActive="router-link-active" class="text-sm font-semibold leading-6 text-gray-900">Forfaits</a>
      <a [routerLink]="['/']" routerLinkActive="router-link-active" class="text-sm font-semibold leading-6 text-gray-900">Actualités</a>
      <a [routerLink]="['/hero']" routerLinkActive="router-link-active" class="text-sm font-semibold leading-6 text-gray-900">Contact</a>
      <a  [routerLink]="['/connexion']" href="#" class="text-sm font-semibold leading-6 text-gray-900">Connexion<span aria-hidden="true"></span></a>
      
    </div>
   
  </nav>
</header>
