<link rel="stylesheet" href="smartphone.component.scss">
<div class="max">
<table >
    <table>
        <!-- First Row -->
        <tr>
            <td>
                <div class="square-flip square3">
                    <div class='square'>
                        <div class="square-container">
                            <h1 class="textshadow"><b>Infinix Smart 7</b></h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                    <div class='square2'>
                        <div class="square-container2">
                            <div class="align-center"></div>
                            <h2 class="col"><br><br>Prix seul</h2> 
                            <h2 class="show"><b>419 TND</b></h2>
                            <h1 class="color">Stock épuisé</h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                </div>
            </td>
            <td>
                <div class="square-flip square3">
                    <div class='squaree'>
                        <div class="square-container">
                            <h1 class="textshadow"><b>Samsung Galaxy A35 5G</b></h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                    <div class='squaree2'>
                        <div class="square-container2">
                            <div class="align-center"></div>
                            <h2 class="col"><br><br>Prix seul</h2> 
                            <h2 class="show"><b>1499 TND</b></h2>
                            <h1 class="coloro">Nouveau</h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                </div>
            </td>
            <td>
                <div class="square-flip square3">
                    <div class='squaret'>
                        <div class="square-container">
                            <h1 class="textshadow"><b>Xiaomi Redmi Note 12</b></h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                    <div class='squaret2'>
                        <div class="square-container2">
                            <div class="align-center"></div>
                            <h2 class="col"><br><br>Prix seul</h2> 
                            <h2 class="show"><b>919 TND</b></h2>
                            <h1 class="color">Stock épuisé</h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                </div>
            </td>
            <td>
                <div class="square-flip square3">
                    <div class='squaren'>
                        <div class="square-container">
                            <h1 class="textshadow"><b>iPhone 14 Pro</b></h1>
                            <img src="" alt="iPhone 14 Pro" class="phone-image">
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                    <div class='squaren2'>
                        <div class="square-container2">
                            <div class="align-center"></div>
                            <h2 class="col"><br><br>Prix seul</h2> 
                            <h2 class="show"><b>3499 TND</b></h2>
                            <h1 class="color">Disponible</h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                </div>
            </td>
        </tr>
    
        <!-- Second Row -->
        <tr>
            <td>
                <div class="square-flip square3">
                    <div class='squarem'>
                        <div class="square-container">
                            <h1 class="textshadow"><b>Huawei P50</b></h1>
                            <img src="path_to_image2.jpg" alt="Huawei P50" class="phone-image">
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                    <div class='squarem2'>
                        <div class="square-container2">
                            <div class="align-center"></div>
                            <h2 class="col"><br><br>Prix seul</h2> 
                            <h2 class="show"><b>2599 TND</b></h2>
                            <h1 class="color">Disponible</h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                </div>
            </td>
            <td>
                <div class="square-flip square3">
                    <div class='squareo'>
                        <div class="square-container">
                            <h1 class="textshadow"><b>Oppo Reno 8</b></h1>
                            <img src="path_to_image3.jpg" alt="Oppo Reno 8" class="phone-image">
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                    <div class='squareo2'>
                        <div class="square-container2">
                            <div class="align-center"></div>
                            <h2 class="col"><br><br>Prix seul</h2> 
                            <h2 class="show"><b>1999 TND</b></h2>
                            <h1 class="color">Disponible</h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                </div>
            </td>
            <td>
                <div class="square-flip square3">
                    <div class='squarep'>
                        <div class="square-container">
                            <h1 class="textshadow"><b>Google Pixel 7</b></h1>
                            <img src="path_to_image4.jpg" alt="Google Pixel 7" class="phone-image">
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                    <div class='squarep2'>
                        <div class="square-container2">
                            <div class="align-center"></div>
                            <h2 class="col"><br><br>Prix seul</h2> 
                            <h2 class="show"><b>2999 TND</b></h2>
                            <h1 class="color">Disponible</h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                </div>
            </td>
            <td>
                <div class="square-flip square3">
                    <div class='squareq'>
                        <div class="square-container">
                            <h1 class="textshadow"><b>OnePlus 11</b></h1>
                            <img src="path_to_image5.jpg" alt="OnePlus 11" class="phone-image">
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                    <div class='squareq2'>
                        <div class="square-container2">
                            <div class="align-center"></div>
                            <h2 class="col"><br><br>Prix seul</h2> 
                            <h2 class="show"><b>2299 TND</b></h2>
                            <h1 class="color">Disponible</h1>
                        </div>
                        <div class="flip-overlay"></div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    
