
    
    <link rel="stylesheet" href="contrat.component.scss">

    <h1 id="client-name">Contrats pour client</h1>

    <div id="contracts-wrapper">
        <table id="contracts-table">
            <thead>
                <tr>
                    <th>Type de Contrat</th>
                    <th>Service</th>
                    <th>Date de Début</th>
                    <th>Date de Fin</th>
                    <th>Statut</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Forfait Orange</td>
                    <td>Mobile</td>
                    <td>01/01/2023</td>
                    <td>01/01/2024</td>
                    <td>Actif</td>
                </tr>
                <tr>
                    <td>Achat Ligne Réseau</td>
                    <td>Internet</td>
                    <td>15/02/2023</td>
                    <td>15/02/2025</td>
                    <td>En attente</td>
                </tr>
                <tr>
                    <td>Achat Smartphone</td>
                    <td>Téléphonie</td>
                    <td>20/03/2023</td>
                    <td>20/03/2024</td>
                    <td>Actif</td>
                </tr>
            </tbody>
        </table>
    </div>

    <footer>
        <a  [routerLink]="['/clientes']"   href="clientes.component.html" class="text-sm font-semibold leading-6 text-gray-900"> <button class="button-back" onclick="goBack()">Retour</button></a>
       
    </footer>

   













