<div class="flex items-center gap-x-6 bg-gray-900 px-6 py-2.5 sm:px-3.5 sm:before:flex-1">
  <p class="text-sm leading-3 text-white">
      <a href="#">
          <strong class="font-semibold orange-title">{{ title }}</strong><br>
          <svg viewBox="0 0 2 2" class="mx-2 inline h-0.5 w-0.5 fill-current" aria-hidden="true">
              
          </svg>
          <span class="styled-text">{{ text }}</span><span ></span>
      </a>
  </p>


    <div class="flex flex-1 justify-end">
      <button type="button" class="-m-3 p-3 focus-visible:outline-offset-[-4px]">
        <span class="sr-only">Dismiss</span>
        <svg class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        </svg>
      </button>
    </div>
</div>

