<link rel="stylesheet" href="accessories.component.scss">
<table>
    <!-- First Row -->
    <tr>
        <td>
            <div class="square-flip square3">
                <div class='square'>
                    <div class="square-container">
                        <h1 class="textshadow"><b>iPad Pro 11</b></h1>
                        <img src="path_to_ipad_pro_image.jpg" alt="iPad Pro 11" class="tablet-image">
                    </div>
                    <div class="flip-overlay"></div>
                </div>
                <div class='square2'>
                    <div class="square-container2">
                        <div class="align-center"></div>
                        <h2 class="col"><br><br>Prix seul</h2> 
                        <h2 class="show"><b>899 USD</b></h2>
                        <h1 class="color">Disponible</h1>
                    </div>
                    <div class="flip-overlay"></div>
                </div>
            </div>
        </td>
        <td>
            <div class="square-flip square3">
                <div class='squaree'>
                    <div class="square-container">
                        <h1 class="textshadow"><b>Samsung Galaxy Tab S8</b></h1>
                        <img src="path_to_samsung_tab_image.jpg" alt="Samsung Galaxy Tab S8" class="tablet-image">
                    </div>
                    <div class="flip-overlay"></div>
                </div>
                <div class='squaree2'>
                    <div class="square-container2">
                        <div class="align-center"></div>
                        <h2 class="col"><br><br>Prix seul</h2> 
                        <h2 class="show"><b>799 USD</b></h2>
                        <h1 class="coloro">Nouveau</h1>
                    </div>
                    <div class="flip-overlay"></div>
                </div>
            </div>
        </td>
        <td>
            <div class="square-flip square3">
                <div class='squaret'>
                    <div class="square-container">
                        <h1 class="textshadow"><b>Lenovo Tab P11</b></h1>
                        <img src="path_to_lenovo_tab_image.jpg" alt="Lenovo Tab P11" class="tablet-image">
                    </div>
                    <div class="flip-overlay"></div>
                </div>
                <div class='squaret2'>
                    <div class="square-container2">
                        <div class="align-center"></div>
                        <h2 class="col"><br><br>Prix seul</h2> 
                        <h2 class="show"><b>499 USD</b></h2>
                        <h1 class="color">Disponible</h1>
                    </div>
                    <div class="flip-overlay"></div>
                </div>
            </div>
        </td>
        <td>
            <div class="square-flip square3">
                <div class='squarep'>
                    <div class="square-container">
                        <h1 class="textshadow"><b>Microsoft Surface Pro 8</b></h1>
                        <img src="path_to_surface_pro_image.jpg" alt="Microsoft Surface Pro 8" class="tablet-image">
                    </div>
                    <div class="flip-overlay"></div>
                </div>
                <div class='squarep2'>
                    <div class="square-container2">
                        <div class="align-center"></div>
                        <h2 class="col"><br><br>Prix seul</h2> 
                        <h2 class="show"><b>1099 USD</b></h2>
                        <h1 class="color">Disponible</h1>
                    </div>
                    <div class="flip-overlay"></div>
                </div>
            </div>
        </td>
    </tr>

    <!-- Second Row -->
    <tr>
        <td>
            <div class="square-flip square3">
                <div class='squareq'>
                    <div class="square-container">
                        <h1 class="textshadow"><b>Amazon Fire HD 10</b></h1>
                        <img src="path_to_fire_hd_image.jpg" alt="Amazon Fire HD 10" class="tablet-image">
                    </div>
                    <div class="flip-overlay"></div>
                </div>
                <div class='squareq2'>
                    <div class="square-container2">
                        <div class="align-center"></div>
                        <h2 class="col"><br><br>Prix seul</h2> 
                        <h2 class="show"><b>149 USD</b></h2>
                        <h1 class="color">Disponible</h1>
                    </div>
                    <div class="flip-overlay"></div>
                </div>
            </div>
        </td>
        <td>
            <div class="square-flip square3">
                <div class='squarer'>
                    <div class="square-container">
                        <h1 class="textshadow"><b>Huawei MatePad Pro</b></h1>
                        <img src="path_to_huawei_matepad_image.jpg" alt="Huawei MatePad Pro" class="tablet-image">
                    </div>
                    <div class="flip-overlay"></div>
                </div>
                <div class='squarer2'>
                    <div class="square-container2">
                        <div class="align-center"></div>
                        <h2 class="col"><br><br>Prix seul</h2> 
                        <h2 class="show"><b>699 USD</b></h2>
                        <h1 class="color">Disponible</h1>
                    </div>
                    <div class="flip-overlay"></div>
                </div>
            </div>
        </td>
        <td>
            <div class="square-flip square3">
                <div class='squareu'>
                    <div class="square-container">
                        <h1 class="textshadow"><b>Xiaomi Pad 5</b></h1>
                        <img src="path_to_xiaomi_pad_image.jpg" alt="Xiaomi Pad 5" class="tablet-image">
                    </div>
                    <div class="flip-overlay"></div>
                </div>
                <div class='squareu2'>
                    <div class="square-container2">
                        <div class="align-center"></div>
                        <h2 class="col"><br><br>Prix seul</h2> 
                        <h2 class="show"><b>399 USD</b></h2>
                        <h1 class="color">Disponible</h1>
                    </div>
                    <div class="flip-overlay"></div>
                </div>
            </div>
        </td>
        <td>
            <div class="square-flip square3">
                <div class='squarev'>
                    <div class="square-container">
                        <h1 class="textshadow"><b>Asus ZenPad 3S 10</b></h1>
                        <img src="path_to_asus_zenpad_image.jpg" alt="Asus ZenPad 3S 10" class="tablet-image">
                    </div>
                    <div class="flip-overlay"></div>
                </div>
                <div class='squarev2'>
                    <div class="square-container2">
                        <div class="align-center"></div>
                        <h2 class="col"><br><br>Prix seul</h2> 
                        <h2 class="show"><b>299 USD</b></h2>
                        <h1 class="color">Disponible</h1>
                    </div>
                    <div class="flip-overlay"></div>
                </div>
            </div>
        </td>
    </tr>
</table>
