
<div class="container">
<div class="title">Inscrivez-vous</div>
<div class="content">
<form action="#">
<div class="user-details">
<div class="input-box">
<span class="details">Nom</span>
<input type="text" placeholder="Entrer votre nom" required>
</div>
<div class="input-box">
<span class="details">Prénom</span>
<input type="text" placeholder="Entrer votre prénom" required>
</div>
<div class="input-box">
<span class="details">Email</span>
<input type="text" placeholder="Adresse Email" required>
</div>
<div class="input-box">
<span class="details">Numéro de telephone</span>
<input type="text" placeholder="Enter your numéro" required>
</div>
<div class="input-box">
<span class="details">Mot de passe</span>
<input type="password" placeholder="your password" required>
</div>
<div class="input-box">
<span class="details">Confirmer votre mot de passe</span>
<input type="password" placeholder="your password" required>
</div>
</div>
<div class="gender-details">
<input type="radio" name="gender" id="dot-1">
<input type="radio" name="gender" id="dot-2">
<input type="radio" name="gender" id="dot-3">
<span class="gender-title">Gendre</span>
<div class="category">
<label for="dot-1">
<span class="dot one"></span>
<span class="gender">Male</span>
</label>
<label for="dot-2">
<span class="dot two"></span>
<span class="gender">Female</span>
</label>
<label for="dot-3">
<span class="dot three"></span>
<span class="gender">Je préfére ne pas le dire</span>
</label>
</div>
</div>
<div class="button">
<input type="submit" value="Enregistrer">
</div>
</form>
</div>
</div>
